/* ---------------------- 操作栏 ----------------------*/

body {
    --overlay-time: .4s;
    --actionbar-time: .5s;
}

/* 操作栏 */
#actionbar {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: var(--actionbar-height);
    z-index: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, .8);
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    transition: var(--actionbar-time) transform ease-in;

    opacity: 0;
    animation: actionbarFadeIn .4s ease-in forwards;

    backdrop-filter: blur(5px);
}

@keyframes actionbarFadeIn {
    to {
        opacity: 1;
    }
}

[scroll-hidden] #actionbar {
    transform: translateY(100%);
}

#actionbar>* {
    padding: 8px;
}

#full-now,
#sidebar-fab,
#refresh-fab,
#show-more-fab {
    display: none;
}

#actionbar.home {
    #refresh-fab {
        display: block;
    }
}

#actionbar.video,
#actionbar.list {
    #full-now {
        display: block;
    }
}

#actionbar.message {
    #menu-fab {
        display: none;
    }
}

#actionbar.video,
#actionbar.list,
#actionbar.message {
    #sidebar-fab {
        display: block;
    }

    #my-top {
        display: none;
    }
}

#actionbar.search,
#actionbar.space {
    #show-more-fab {
        display: block;
    }
}

#menu-fab {
    position: relative;
}

#search-fab,
#menu-fab {
    z-index: 0;
    transition: z-index var(--overlay-time) ease-in;
}

#search-fab.active,
#menu-fab.active {
    z-index: 10;
}

#show-more-fab {
    transition: transform .4s ease-in;
}

#show-more-fab.reverse {
    transform: rotate(180deg);
}

/*显示搜索文本 */
#search-fab {
    display: flex;
    padding: 4px 8px;
    max-width: 40%;
    align-items: center;
}

#search-fab svg {
    flex: 0 0 24px;
}

#search-fab-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 底部菜单内容 */
#header-in-menu {
    position: absolute !important;
    top: 100vh;
    /* space-evenly : 20px 为底栏图标高度的一半*/
    left: calc((200vw + 20px) / 3);
    background-color: white;
    padding: 5px 0;
    white-space: nowrap;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-size: 16px;
    transform: translateX(-50%);
    transition: transform var(--overlay-time) ease-in;

    li {
        list-style-type: none;
        padding: 5px 30px;
        /* 视频页默认行高不同 */
        line-height: 20px !important;
    }
}

/* 有的用户这俩不生效 */
body #header-in-menu li {
    position: relative;
    padding: 5px 30px !important;
    line-height: 20px !important;
}

#header-in-menu.show {
    transform: translate(-50%, calc(-100% - var(--actionbar-height) - 5px));
}

/* 菜单消息数 */
.badge {
    position: absolute;
    top: 6px;
    left: 63px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    padding: 0 4.5px 1px;
    border-radius: 8px;
    background-color: red;
    color: white;
    font-size: 12px;
    visibility: hidden;
}

/* 底部菜单、侧边栏等: overlay */
#menu-overlay,
#search-overlay,
#sidebar-overlay,
#ai-conclusion-overlay {
    position: fixed;
    bottom: 0;
    /* actionbar 使用 backdrop-filter 导致创建了新的堆叠上下文 */
    height: 100vh;
    left: 0;
    right: 0;
    pointer-events: none;
    background-color: rgba(0, 0, 0, .3);
    opacity: 0;
    transition: opacity var(--overlay-time) ease-in;
}

#menu-overlay.show,
#search-overlay.show,
#sidebar-overlay.show,
#ai-conclusion-overlay.show {
    pointer-events: auto;
    opacity: 1;
}

/* 底部提示 */
#toast {
    position: fixed;
    left: 0;
    bottom: var(--actionbar-height);
    transform: translate(calc(50vw - 50%), 100%);
    z-index: 1;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 12px;
    margin-bottom: 5px;
    background-color: white;
    border: 1px solid var(--line_regular);
    border-radius: 16px;
    opacity: 0;
    transition: .3s ease-in;
    display: none;
}

#toast[show] {
    transform: translateX(calc(50vw - 50%));
    opacity: 1;
}

.bpx-player-container #toast {
    color: var(--text4);
    background-color: rgba(0, 0, 0, .5);
}

/* --------------------- 其它适配 --------------------- */

/* 扩增载入后产生的骨架空位 */
.floor-single-card:has(.skeleton, .skeleton-item) {
    display: none;
}

/* 脚本设置窗口 */
.setting-panel {
    position: fixed;
    top: 50%;
    left: 50%;
    background: white;
    /* 遮盖菜单弹窗 */
    z-index: 1002;
    border: 1px solid var(--line_regular);
    flex-direction: column;
    padding: 10px 5px;
    border-radius: 10px;
    font-size: 16px;
    max-height: calc(100vh - var(--actionbar-height) - 10px);
    width: 260px;
    max-width: calc(100% - 20px);
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);

    opacity: 0;
    transform: translate(-50%, -50%) scale(.9);
    transition: .4s ease-in;
    display: none;
}

.setting-panel[show] {
    opacity: 1;
    transform: translate(-50%, -50%);
}

/* 自定义菜单选项 */
.setting-panel.mini {
    opacity: 1;
    transform: translate(-50%, -50%);
    display: flex;
    width: 150px;
}

.mini .setting-checkboxes label {
    height: 16px;
}

/* 顶部标题 */
.setting-title {
    margin: 0 5px 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--line_regular);
    text-align: center;
    color: var(--Ga7);
}

.setting-checkboxes {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.setting-checkboxes label {
    margin: 5px;
    display: flex;
    align-items: center;
}

.setting-checkboxes span,
.setting-checkboxes details {
    flex-grow: 1;
    text-align: center;
}

/* 属性选择器中只存在单个值时 (无空格) 可省略引号 */

.setting-checkboxes input[type=checkbox] {
    width: 16px;
    height: 26px;
}

.setting-checkboxes input[type=number] {
    width: 40px;
    appearance: textfield;
    height: 22px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.setting-conform {
    margin: 8px 5px 3px;
    height: 28px;
    border-radius: 14px;
    border: 1px solid var(--line_regular);
    background-color: var(--graph_bg_thin) !important;
}

/* 自定义菜单弹窗边距放在选项下面,选中才显示 */
label:has([data-key=menu-dialog-move-down])+label {
    display: none;
}

label:has([data-key=menu-dialog-move-down]:checked)+label {
    display: flex;
}

/* 帮助 */
.setting-content {
    font-size: 14px;
}

.setting-content a {
    text-decoration: underline;
}

/* ------ 关注菜单视图 ------ */

/* 添加的关注窗口 (历史弹窗外框 + 空间关注列表) */
#follow-list-dialog {
    z-index: 2;
}

/* 列表项 */
#follow-list-dialog .list-item {
    border-bottom: 1px solid #eee;
    padding: 10px 0 8px;
}

/* 列表框 */
ul.follow-list-content {
    height: 480px;
    overflow-y: auto;
    padding: 10px;
}

/* 头像 */
#follow-list-dialog .cover-container {
    position: static;
    width: 60px;
    height: 60px;
    float: left;
}

/* 内容 */
#follow-list-dialog .content {
    margin: 10px 0 8px 75px;
}

/* 用户名 */
.list-item a.title {
    font-size: 16px;
    line-height: 20px;
    height: 20px;
    margin-bottom: 6px;
    display: inline-block;
}

/* 用户描述 */
.list-item .auth-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    overflow: hidden;
    font-size: 13px;
    line-height: 15px;
    height: 30px;
    line-break: anywhere;
}

/* 粉丝操作 */
.follow-list-content .list-item .fans-action {
    position: absolute;
    right: 0;
    top: unset;
    transform: translateY(-58px);
    /* 遮盖用户描述 */
    z-index: 1;
}

/* 按钮 */
.list-item .be-dropdown {
    display: inline-block;
}

/* 关注按钮 */
.list-item .fans-action-btn {
    padding: 4px 9px 4px 7px;
    margin-right: 4px;
    background-color: #e5e9ef;
    border-radius: 4px;
    color: #6d757a;
    float: left;
    line-height: 16px;
    /* 去除空格导致的高度增加 */
    font-size: 0;
}

/* 关注字体图标 */
.fans-action-btn .video-commonmenu {
    vertical-align: middle;
    margin-right: 2px;
}

/* 取关后 */
div.fans-action-btn.follow {
    line-height: 16px;
    height: 24px;
    border: none;
    width: 70px;
    box-sizing: border-box;
    text-align: center;
}

/* 关注按钮文字 */
.fans-action-text {
    line-height: 16px;
    font-size: 12px;
    vertical-align: middle;
}

/* 操作按钮展开 */
.follow-list-content ul.be-dropdown-menu {
    top: 30px;
    border: 1px solid #e5e9ef;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .14);
}

/* 关注按钮展开 (暂不使用) */
/* .follow-list-content .fans-action-text+.be-dropdown-menu {
    left: 0;
    padding: 5px 10px;
    z-index: 1;
    background-color: #fff;
} */

/* 操作选项 */
.follow-list-content li.be-dropdown-item {
    height: 28px;
    line-height: 28px;
    padding: 0;
}

/* 更多按钮展开 */
.follow-list-content .be-dropdown-trigger+.be-dropdown-menu {
    right: 0;
    padding: 3px 10px;
}

/* ------ 视频滑动进度信息 ------ */
#progress-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
    display: none;
}