/* -------------------- 搜索页 ---------------------- */

#i_cecream {
    min-width: 0 !important;
    /* 空内容填充高度 */
    min-height: calc(100vh - var(--actionbar-height)) !important;
}

/* 禁止按钮限制最小宽度 */
button.vui_button {
    min-width: 0;
}

/* 分类和另几个包含块 */
div.i_wrapper {
    padding: 0 5px;
}

/* 分类 */
.search-tabs.i_wrapper {
    padding-top: 10px !important;
}

.vui_tabs--nav-link {
    padding: 0 1px !important;
    flex-direction: column;
}

ul.vui_tabs--nav>* {
    flex: 1;
}

/* 分类: 排序 */
/* 综合 */
.vui_tabs--nav-item:nth-child(1) .vui_tabs--nav-text {
    padding-bottom: 17px;
}

/* 视频 */
.vui_tabs--nav-item:nth-child(2) {
    order: -1;
}

/* 番剧 */
.vui_tabs--nav-item:nth-child(3) {
    order: -2;
}

/* 影视 */
.vui_tabs--nav-item:nth-child(4) {
    order: -3;
}

/* 直播 */
.vui_tabs--nav-item:nth-child(5) {
    order: 3;
}

/* 专栏 */
.vui_tabs--nav-item:nth-child(6) {
    order: 2;
}

/* 用户 */
.vui_tabs--nav-item:nth-child(7) {
    order: 1;
}

/* 广告 */
.activity-game-list {
    display: none;
}

/* 排序筛选 */
.search-conditions {
    position: fixed;
    bottom: 0;
    z-index: 2;
    background: white;
    padding: 5px !important;
    opacity: 0;
    transition: var(--actionbar-time) ease-in;
    pointer-events: none;
}

.search-conditions.show {
    bottom: var(--actionbar-height);
    opacity: 1;
    pointer-events: auto;
}

[scroll-hidden] div.search-conditions {
    bottom: 0;
}

/* 排序按钮 */
.search-condition-row>.vui_button {
    width: 33.3%;
    margin: 0 !important;
}

.search-condition-row {
    width: 100%;
}

.conditions-order {
    position: relative;
}

.conditions-order .i_button_more {
    position: absolute;
    bottom: 0;
    left: 66.6%;
    padding-left: 23px !important;
    border: 0;
    width: 33.3%;
}

/* 搜索框 */
.search-input {
    display: none;
}

/* 视频结果 */
.video-list>div {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 4px !important;
    margin-bottom: 10px;
}

/* 结果块外 padding */
.search-content {
    padding: 0 5px !important;
}

/* 结果块内 */
.search-page-wrapper .search-page {
    margin-top: 8px !important;
    padding-bottom: 0 !important;
}

/* 搜索页无不喜欢按钮 */
.search-page .bili-video-card h3.bili-video-card__info--tit {
    padding-right: 0;
}

/* 页数 - 美化 */
.search-page .flex_center {
    margin: 5px 0 !important;
}

.vui_pagenation {
    width: 100%;
}

div.vui_pagenation--btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.vui_pagenation--btns>* {
    margin: 0 calc((100% - 34px * 6) / 12) 10px !important;
}

.vui_pagenation--btns>*:nth-child(7) {
    margin-left: calc((100% - 34px* 6) / 12 * 3 + 34px) !important;
}

.vui_pagenation--btn-num {
    max-width: 34px;
}

span.vui_pagenation--extend {
    max-width: 34px;
}

.vui_pagenation--btn-side {
    padding: 0 5px;
    max-width: 34px;
    overflow: hidden;
    position: relative;
}

.vui_pagenation--btn-side::before {
    color: var(--v_text1);
    background-color: inherit;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    width: 34px;
}

.vui_pagenation--btn-side:first-child::before {
    content: '<';
    padding: 6.5px 9px 7.5px 5px;
}

.vui_pagenation--btn-side:last-child::before {
    content: '>';
    padding: 5.5px 7px 8.5px 7px;
}

/* 搜索页底部 */
.link-box {
    flex-direction: column;
    margin: 0 10px !important;
}

.bili-footer {
    min-width: 0 !important;
    padding: 5px 0 var(--actionbar-height) !important;
}

.b-footer-wrap {
    min-width: 0 !important;
    margin: 0 5px !important;
}

.link-box {
    flex-direction: column;
}

.link-box>* {
    max-width: 100%;
}

.link-item__right,
.other-link,
.footer-icons {
    display: none !important;
}

/* 影视 */
.media-item-col {
    max-width: 100% !important;
    flex: none !important;
    margin-bottom: 10px !important;
    padding: 0 !important;
}

/* 用户和直播 */
.media-list .col_6,
.live-user-cards .col_6 {
    max-width: 100% !important;
    flex: none !important;

    --avatar-scale: 56px;
}

.media-list .col_6 {
    margin-bottom: 10px !important;
}

/* 用户布局层 */
div.b-user-info-card {
    align-items: start;
}

/* 用户头像(用户, 直播) */
.col_6 .bili-avatar {
    height: var(--avatar-scale) !important;
    width: var(--avatar-scale) !important;
}

/* 头像外框 */
.search-user-avatar {
    width: var(--avatar-scale) !important;
    min-width: var(--avatar-scale) !important;
}

.avatar-wrap {
    height: var(--avatar-scale) !important;
}

/* 用户和直播内容 */
div.user-content,
div.live-content {
    width: 100% !important;
    padding-right: 0 !important;
}

div.user-content {
    height: 85px;
}

/* 用户名 */
.i_card_title {
    height: 20px;
}

h2.i_card_title>a {
    font-size: 16px;
}

/* 用户简介 */
.user-content span {
    position: absolute;
    left: calc(var(--avatar-scale) + 20px);
    top: 50px;
    white-space: wrap !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    margin-right: 10px;
}

/* 关注按钮 */
.user-actions,
.live-actions {
    position: absolute;
    right: 10px;
    top: 20px;
}

.user-actions button,
.live-actions button {
    height: 26px !important;
    width: 70px !important;
    min-width: 70px;
    border-radius: 13px !important;
}

/* 直播的其它样式 */
.live-user-card {
    margin-bottom: 10px !important;
}

/* 直播标签 */
.live-tags {
    position: absolute;
    left: calc(var(--avatar-scale) + 15px);
    top: 50px;
    max-width: calc(100% - var(--avatar-scale) - 30px) !important;
}

/* 直播内容 */
div.live-content {
    height: 65px;
}

/* 标签 - 直播中 */
.search-user-avatar .live-tab {
    bottom: -16px !important;
}

/* 综合里的影视、番剧 */
.show-more-text {
    margin: 10px 0 20px !important;
    z-index: 1 !important;
}

.media-item {
    padding: 0 !important;
}

.media-card {
    --image-width: 103px !important;
    --image-height: 139px !important;
    --image-mg-r: 10px !important;
    margin-right: 10px !important;
    --content-head-title-size: 14px !important;
    --content-title-mg-b: 0 !important;
    --content-text-mg-b: 0 !important;
}

.media-card-content-footer-btns {
    --pgc_btn_size: 13px !important;
    --pgc_btn_w: 70px !important;
    --pgc_btn_h: 28px !important;
}

.media-card-content-head-text {
    line-height: 15px !important;
}

/* 综合里的用户账户 */
.info-card.flex_start {
    width: 100%;
}

/* 位置异常的 logo */
.search-logo.p_center_y {
    display: none;
}

/* 去除综合顶部空白 */
.search-page-all div.i_wrapper.search-all-list {
    padding-top: 8px;
}