/* ------------------- 个人主页(新版) ----------------------- */

/* 主体内容宽度限制 */
.wrapper,
.space-main,
.header-upinfo,
.nav-bar__main,
.space-dynamic__content {
    min-width: unset !important;
    max-width: 100%;
}

/* 单击页内搜索添加提示 */
div.header.space-search-tip {
    justify-content: center;
}

/* 隐藏提示下面的历史或建议 */
.space-search-tip+div {
    display: none;
}

/* 主页/充电 */
.space-home {
    flex-direction: column;
    margin-top: 20px !important;
}

.space-home .aside,
.space-dynamic__right {
    --aside-width: calc(100% - 72px) !important;
}

/* --------- 导航栏 --------- */

.nav-bar {
    z-index: 2 !important;
}

/* 移除搜索框: 隐藏后依然能模拟输入和代码触发元素点击事件 */
/* 用 CSS 属性 display: none; 隐藏元素后，虽然元素在视觉上消失了，但是它在 DOM 中仍然存在。这意味着仍然可以通过 JavaScript 与隐藏元素进行交互 */
.space-navbar .nav-search {
    display: none;
}

/* 调整导航栏横向布局 */
.nav-bar__main {
    padding: 0 !important;
}

.nav-bar__main-left {
    flex: 1;
    margin-right: 0 !important;

    .nav-tab {
        flex: 1;
        justify-content: space-evenly;
    }
}

/* 导航项 */
.nav-tab__item {
    margin-left: 0 !important;
    flex-direction: column;
    height: 46px !important;
}

.nav-tab__item-text {
    margin-left: 0 !important;
}

/* --------- up 块(header) --------- */

/* 增加高度 */
.space-header {
    height: 260px !important;
}

.header-upinfo-bg-shadow {
    background-color: black;
    opacity: .1;

    div {
        background: none !important;
    }
}

.header-upinfo {
    align-self: center !important;
    padding: 0 20px !important;

    .upinfo__main {
        margin-right: 0;
        align-items: flex-start !important;
    }

    .upinfo-avatar {
        margin-top: 24px;
    }

    /* 简介 */
    .header-sign {
        height: auto !important;

        .pure-text {
            display: block !important;
        }
    }
}

/* 关注、粉丝数 (height: 40px) */
.space-navbar .nav-statistics {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    z-index: 10;
    /* 不减去左右 margin 会溢出 */
    width: calc(100% - 20px);
    height: auto !important;
    display: flex;
    justify-content: space-evenly;
    padding: 4px 0 5px;
    margin: 0 10px;
    border-top: 1px solid var(--line_regular);

    .nav-statistics__item-text {
        color: var(--text_white);
    }

    .nav-statistics__item-num {
        color: var(--text_white);
    }
}

/* --------- 内容主体 --------- */

.space-main {
    padding: 10px !important;
}

/* 视频块 */
.section-wrap:not(.bangumi-section) .items {
    grid-template-columns: repeat(2, 1fr) !important;
}

/* 合集部分特殊处理 */
.video-list__content {
    grid-template-columns: repeat(2, 1fr) !important;
}

/* 标题 */
.section-wrap__header:has(.radio-filter) {
    height: 68px !important;
    align-items: flex-start;
    margin-bottom: 10px !important;
}

/* 标题 - 视频排序 */
.section-wrap .radio-filter {
    position: absolute;
    left: 0;
    transform: translateX(calc(50vw - 50%));
    margin: 38px 0 0 !important;

    .radio-filter__item {
        height: 30px !important;
    }
}

.section-wrap .vui_button {
    height: 30px;
    width: 84px !important;
    padding: 0 6px !important;
}

.section-wrap .amount {
    text-wrap: nowrap;
}

/* 已关注置顶推荐 */
.top-video {
    flex-direction: column;
}

.top-video__cover {
    width: 100% !important;
    height: fit-content !important;
}

.top-video__title {
    -webkit-line-clamp: 2 !important;
    line-clamp: 2 !important;
    margin-top: 5px;
}

.top-video__desc {
    -webkit-line-clamp: 4 !important;
    line-clamp: 4 !important;
}

/* 代表作 */
.masterpiece-block {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;

    .masterpiece-block__item {
        width: 100% !important;
    }
}

/* 主页-专栏 */
.article-section .article-list {
    grid-template-columns: repeat(2, 1fr) !important;
}

/* --------- 关注栏 --------- */

/* 折叠关注按钮栏 */
.upinfo .operations {
    position: fixed;
    left: 0;
    bottom: 0 !important;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    /* easi-in 距离与时间的平方成正比 */
    transition: calc(var(--actionbar-time)*1.44) ease-in;
}

.upinfo .operations.show {
    bottom: var(--actionbar-height) !important;
    opacity: 1;
    z-index: 10;
}

[scroll-hidden] .header-upinfo .operations {
    transform: translateY(calc(100% + var(--actionbar-height)));
}

.operations .message-btn,
.operations .more-actions__trigger,
.operations .space-follow-btn.gray {
    color: var(--v_text1) !important;
    background: var(--v_bg1_float) !important;
    border: 1px solid var(--v_line_regular) !important;
    box-shadow: 0 0 0 1px var(--v_line_regular) !important;
}

/* ----- 换页栏 ----- */

.vui_pagenation {
    padding: 20px 0 !important;
    width: 100% !important;
    flex-direction: column;
}

/* 其它样式与 search.css 文件的"页数"一致 */

/* ----- 动态Tab ----- */

.space-dynamic {
    flex-direction: column;
    margin-top: 10px !important;
}

.space-dynamic .space-dynamic__left {
    height: auto;
    width: 100%;
    /* 取消 sticky 效果 */
    top: unset !important;

    .side-nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin-bottom: 10px;

        .side-nav__item {
            border: 1px solid var(--line_regular);
            margin-top: 0;
        }
    }
}

#page-dynamic .col-1 {
    max-width: 100%;
}

div.bili-dyn-item {
    min-width: 0;
}

div.bili-dyn-item__main {
    padding: 0 15px 0 60px;
}

div.bili-dyn-item__avatar {
    width: 60px;
    height: 77px;
}

/* 内容填充左侧空白 */
.bili-dyn-item__body {
    position: relative;
    left: -45px;
    width: calc(100% + 45px);
}

/* 封面尺寸 - 投稿边框 */
a.bili-dyn-card-video {
    border: 1px solid var(--line_regular);
    border-radius: 0 6px 6px 0;
}

/* 封面尺寸 */
div.bili-dyn-card-video__header {
    width: 40%;
    height: fit-content;
    align-self: center;
}

/* 投稿边框、内容 */
div.bili-dyn-card-video__body {
    border: none;
    min-height: 85px;
    padding: 10px 12px 8px;
}

div.bili-dyn-card-video__title {
    font-size: 14px;
}

/* 动态图片 */
.bili-album__preview__picture {
    width: 100% !important;
    height: 100% !important;
}

/* 动态图片 */
div.bili-album__preview.grid6 {
    width: unset;
}

/* 点赞评论 */
div.bili-dyn-action {
    width: unset;
}

div.bili-dyn-item__footer {
    position: relative;
    left: -45px;
    width: calc(100% + 45px);
    padding-right: 0;
    justify-content: space-around;
}

/* ----- 投稿Tab ----- */

.space-upload {
    flex-direction: column;
    margin-top: 10px !important;
}

.space-upload .upload-sidenav {
    height: auto !important;
    width: 100% !important;
    top: unset !important;

    .side-nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin-bottom: 10px;

        .side-nav__item {
            border: 1px solid var(--line_regular);
            margin-top: 0;
        }
    }
}

.space-upload .video-list {
    grid-template-columns: repeat(2, 1fr) !important;
}

/* ----- 收藏Tab ----- */

.space-favlist {
    flex-direction: column;
    margin-top: 10px !important;
}

.favlist-aside {
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    top: unset !important;
}

.favlist-aside .vui_sidebar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 10px;

    .fav-sidebar-item {
        border: 1px solid var(--line_regular);
        border-radius: 6px;
    }
}

.space-upload .video-list {
    grid-template-columns: repeat(2, 1fr) !important;
}

/* 标题 */
.fav-list-header {
    margin-top: 10px !important;
}

.fav-list-header:has(.radio-filter) {
    height: 64px !important;
    align-items: flex-start;
    margin-bottom: 10px !important;
}

.fav-list-main .radio-filter {
    position: absolute;
    left: 0;
    transform: translateX(calc(50vw - 50%));
    margin: 30px 0 0 !important;

    .radio-filter__item {
        height: 30px !important;
    }
}

.fav-list-main .fav-list-header-filter__left {
    align-items: flex-start !important;
}

/* 收藏视频 */
.fav-list-main .items {
    grid-template-columns: repeat(2, 1fr) !important;
}

/* ----- 追剧Tab ----- */

.space-subscribe {
    flex-direction: column;
    margin-top: 10px !important;
}

.space-subscribe .subscribe-sidebar {
    height: auto !important;
    width: 100% !important;
    top: unset !important;

    .side-nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin-bottom: 10px;

        .side-nav__item {
            border: 1px solid var(--line_regular);
            margin-top: 0;
        }
    }
}

.bili-bangumi-card__cover {
    width: 106px !important;
    height: 163px !important;
}

/* 包括“主页-追剧” */
.bangumi-content .bangumi-items,
.bangumi-section .items {
    grid-template-columns: repeat(1, 1fr) !important;
}

/* ------------------------------------------ */
/* -------------- 旧版样式分割线 -------------- */
/* ------------------------------------------ */

/* ------ 视频展示块 ------ */

/* 宽度 100% 时, 溢出因素: margin、padding、border */

/* up 视频 */
#page-index .col-1 {
    max-width: calc(100% - 20px);
    padding: 0 10px !important;
    border: none !important;
    margin-bottom: 10px;
}

.channel-video {
    white-space: wrap !important;
}

/* 标题 */
.section-title {
    padding: 0 5px 33px !important;
}

.be-tab-item {
    margin: 0 5px !important;
}

/* 标题 - 右侧按钮 */
.section .more,
.section-title .play-all-channel {
    margin-right: 5px;
}

/* TA的视频: 不限制高度 */
#page-index .video .content {
    max-height: unset !important;
}

/* 某块视频 */
.small-item {
    width: calc(50% - 10px) !important;
    padding: 5px !important;
}

.small-item .cover {
    width: 100% !important;
    height: auto !important;
}

.small-item .title {
    text-align: justify;
    line-break: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    padding: 0 3px;
}

/* 频道: 更多 */
#page-index .channel .channel-item .channel-title {
    padding: 0 5px 34px;
}

#page-index .channel .section-right-options {
    position: absolute;
    right: 0;
    bottom: 5px;
}

/* 空番剧文本 */
#page-index .col-1 .section.empty::after {
    left: 100px !important;
}

#i-masterpiece {
    margin-left: 0 !important;
}

#page-index .fav-item {
    margin: 0 10px !important;
}

#page-fav .fav-main {
    width: 100% !important;
}

.favInfo-details {
    max-width: 60%;
    margin-left: 5px !important;
}

.fav-options>* {
    margin: 0 !important;
}

.favList-info {
    padding: 0 !important;
    margin: 0 10px !important;
}

/* 隐藏回顶小飞机 */
#app .to-top {
    display: none !important;
}

/* --- 专栏项 (横向排列) -- */
.article-item .clearfix {
    display: flex;
}

/* 文本 */
.article-content {
    min-width: 0;
    padding-right: 10px;
    /* 元信息栏 width: 10vw */
    overflow: hidden;
}

/* 配图 */
.article-img {
    flex-shrink: 0;
}

/* 文本内容 */
.article-content .article-con a {
    height: 54px;
    line-height: 18px;
    white-space: normal;
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    -webkit-line-clamp: 3;
}

/* 文本标题 */
h2.article-title {
    max-height: unset;
    font-size: 17px;
    line-height: 20px;
}

.article-title a {
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
}

/* 元信息栏 (笔记类型、访问量) */
.article-content .meta-col {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;

    span {
        margin-right: 0;
    }
}

/* 导航 - 投稿 */

/* 菜单 */
div.contribution-sidenav {
    width: 100%;
}

div.contribution-sidenav .contribution-list-container {
    margin-bottom: 10px;
}

.contribution-list {
    display: flex;
    justify-content: space-evenly;
}

.contribution-sidenav li.contribution-item {
    padding-left: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contribution-sidenav a.text {
    width: auto;
}

.contribution-sidenav .num {
    position: absolute;
    left: calc(50% + 28px);
    transform: translateX(-50%);
}

/* 视频区 */
.contribution-sidenav~div.main-content {
    max-width: 100%;
    padding: 10px;
}

/* 标题 */
div.page-head {
    padding-bottom: 33px;
}

#page-video .page-head .be-tab {
    position: absolute;
    left: 0;
    transform: translateX(calc(50vw - 10px - 50%));
    margin: 33px 0 0;
}

/* 视频列表 */
#page-video .cube-list {
    max-width: 100%;
}

/* 修复向左偏移 */
#page-video div#submit-video-list {
    margin-left: 0;
}

/* 视频分类 */
#page-video div#submit-video-type-filter a {
    margin-right: 0;
    flex: 25%;
}

/* 投稿列表样式 */
#submit-video .list .title {
    white-space: pre-wrap;
    height: auto;
    margin: 5px 0;
}

#page-video .list-item .cover div.b-img {
    width: 100%;
    height: auto;
}

#page-video .list-item div.c {
    margin: 0;
}

#page-video .list-item div.desc {
    margin-bottom: 5px;
}

#page-video .list-item div.desc:not(:has(>*)) {
    display: none;
}

/* 投稿按内容分类 */
#page-video #submit-video-type-filter a {
    flex-direction: column;
    line-height: 20px;
    padding: 2px 0;
}

#page-video #submit-video-type-filter a span.count {
    margin-left: 0;
}

/* 投稿页页数-美化 */
ul.be-pager {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: var(--actionbar-height);
}

.be-pager li {
    width: 34px;
    height: 34px;
    line-height: 34px;
    padding: 0;
}

.be-pager>* {
    margin-bottom: 5px;
}

.be-pager li.be-pager-prev,
.be-pager li.be-pager-next {
    overflow: hidden;
    position: relative;
}

.be-pager li.be-pager-prev::before,
.be-pager li.be-pager-next::before {
    color: #18191C;
    background-color: inherit;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    width: 34px;
}

.be-pager li.be-pager-prev::before {
    content: '<';
}

.be-pager li.be-pager-next::before {
    content: '>';
}

/* 导航 - 合集 */
/* 视频列表 */
#page-channel .series-item .video-list {
    flex-flow: wrap;
}

#page-channel .series-item .video-list li {
    /* flex-flow: row 则要用 0 0 50% */
    flex: 50%;
}

.video-list div.video-card {
    width: calc(100% - 10px);
    padding: 5px;
}

div.video-card.card-item .cover {
    width: 100%;
    height: fit-content;
}

/* 列表标题 */
#page-channel .series-item .header .btn {
    font-size: 12px;
}

/* 合集宫格样式双列 */
#page-series-index .channel-list div.channel-item {
    width: calc(50% - 10px);
    margin: 5px !important;
}

/* 合集列表样式系列-按钮 */
.series-item .btn.play-btn {
    min-width: 60px;
}

.series-item .btn.more-btn {
    min-width: 40px;
}

/* --- 搜索页 --- */

.s-space .search-page {
    flex-direction: column;
    max-width: 100%;
}

/* 导航 */
.s-space .search-page .search-nav {
    display: flex;
}

div.s-space .search-nav-item {
    padding-left: 0;
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.s-space .search-nav-item .text {
    width: unset;
}

/* 搜索页内容 (padding 影响底部 - 没有更多) */
.s-space .search-page .feed-dynamic {
    max-width: 100%;
    padding: 0 12px;
}

div.feed-dynamic .feed-card {
    min-width: 0;
}

div.feed-card .card {
    min-width: 0;
}

/* 动态 */
div.feed-card .card .main-content {
    width: calc(100% - 60px);
    margin-left: 60px;
}

/* 头像 */
div.feed-card .card .user-head {
    left: 0;
}

/* 动态内容 */
div.main-content .card-content {
    position: relative;
    left: -60px;
    width: calc(100% + 60px);
}

div.card-content .imagesbox {
    max-width: 100%;
}

/* 投稿 */
div.card-content .video-container {
    max-width: 100%;
    height: unset;
}

.video-container .video-wrap {
    display: flex;
}

div.card-content .video-container .image-area {
    flex: 40%;
    height: fit-content;
    align-self: center;
}

div.card-content .video-container .text-area {
    width: unset;
    margin: 0 8px 0 12px;
    flex: 60%;
}

div.card-content .video-container .text-area .content {
    margin-top: 5px;
    line-height: 16px;
    height: unset;
}

/* 没有更多 */
div.feed-dynamic-content .div-load-more .no-more {
    margin-bottom: var(--actionbar-height);
}

div.feed-dynamic-content .div-load-more .no-more .end-img {
    position: absolute;
    /* .feed-dynamic 的左 padding */
    width: calc(100% + 24px);
    left: -12px;
    bottom: 0;
}

/* 我的信息 */
.h .h-basic {
    max-width: calc(100% - 22px - 60px);
}

/* 个性签名 */
.h #h-sign {
    max-width: 100%;
}

/* 订阅番剧 */
.large-item {
    max-width: 100%;
}

/* 空上传视频 */
div.sec-empty-hint {
    left: 104px;
    top: 3px;
}

/* ------ 我的关注 ------ */

#page-follows div.follow-main {
    max-width: 100%;
    border: none;
}

/* 关注用户 */
#page-follows .list-item {
    padding: 10px 0 8px;
}

/* 关注用户内容 */
#page-follows .list-item div.content {
    padding-right: 0;
    margin-left: 75px;
}

/* 关注用户操作块 */
#page-follows .list-item .fans-action {
    top: 0;
}

/* 关注用户描述 */
#page-follows .follow-main .list-item p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    white-space: unset;
    font-size: 13px;
    line-height: 16px;
    height: 32px;
    line-break: anywhere;
    padding: 3px 20px 0 0;
    width: calc(100% - 20px);
}

/* 设置分组 */
div.follow-dialog-wrap .follow-dialog-window {
    max-width: 100%;
    margin-left: 0;
    transform: translate(-50%, -50%);
}

div.follow-dialog-wrap .follow-dialog-window .content {
    padding: 0 10px;
}

/* ---------- 追番 ---------- */

div.col-full {
    padding: 10px;
}

.content div.pgc-space-follow-page {
    padding: 0 0 var(--actionbar-height);
}

li.pgc-space-follow-item {
    width: 100%;
    padding-right: 0;
}

/* 追番页页数-美化 */
div.bangumi-pagelistbox {
    white-space: pre-wrap;
    height: auto;
}

.bangumi-pagelistbox>*:not(.custom-right) {
    margin-bottom: 5px;
}

.bangumi-pagelistbox a.p {
    height: 34px;
    line-height: 34px;
    padding: 0 8.5px;
}

div.bangumi-pagelistbox strong {
    height: 34px;
    line-height: 34px;
    width: 34px;
}

.bangumi-pagelistbox a.p.prev-page,
.bangumi-pagelistbox a.p.next-page {
    width: 34px;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.bangumi-pagelistbox a.p.prev-page::before,
.bangumi-pagelistbox a.p.next-page::before {
    color: #18191C;
    background-color: inherit;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    width: 34px;
}

.bangumi-pagelistbox a.p.prev-page::before {
    content: '<';
    padding: 1px 14px 13px 0;
}

.bangumi-pagelistbox a.p.next-page::before {
    content: '>';
    padding: 0 12px 14px 2px;
}

div.bangumi-pagelistbox::before {
    content: '';
}

/* ---------- 课程 ---------- */
.section .pugv-container a.pugv-item {
    width: 100%;
}

.section .pugv-container .pugv-item .item-infos p.sub-title {
    width: 100%;
    white-space: pre-wrap;
    height: 40px;
    margin-bottom: 4px;
}