/* ------------------- 个人主页 ----------------------- */

.wrapper {
    width: 100% !important;
}

.content {
    max-width: 100%;
}

#page-index .col-1 {
    max-width: 100%;
    padding: 0 !important;
}

.channel-video {
    white-space: wrap !important;
}

/* 关注按钮 */
.h .h-action {
    bottom: 84px !important;
    left: 20px;
}

/* 置顶内容 */
.content.i-pin-has-content {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
}

.i-pin-c.cover-big {
    padding-bottom: 5px;
}

.i-pin-c .i-pin-cover {
    width: 100% !important;
    height: fit-content !important;
}

.i-pin-title {
    white-space: wrap !important;
}

.i-pin-info {
    margin-left: 0 !important;
    height: auto !important;
}

/* TA的视频: 外框 */
.section-title {
    padding: 0 5px 33px !important;
}

/* TA: 主页视频排序 */
#page-index .video .be-tab {
    position: absolute;
    left: 0;
    transform: translateX(calc(50vw - 50%));
    margin: 33px 0 0 !important;
}

.be-tab-item {
    margin: 0 5px !important;
}

/* 主页视频 */
#page-index .video .content {
    max-height: unset !important;
}

.small-item {
    width: calc(50% - 10px) !important;
    padding: 0 5px 5px !important;
}

.small-item .cover {
    width: 100% !important;
    height: auto !important;
}

/* 频道: 更多 */
#page-index .channel .channel-item .channel-title {
    padding: 0 5px 34px;
}

#page-index .channel .section-right-options {
    position: absolute;
    right: 0;
    bottom: 5px;
}

/* 空番剧文本 */
#page-index .col-1 .section.empty:after {
    left: 100px !important;
}

#i-masterpiece {
    margin-left: 0 !important;
}

#page-index .fav-item {
    margin: 0 10px !important;
}

#page-fav .fav-main {
    width: 100% !important;
}

.n .n-inner {
    display: flex;
    flex-wrap: wrap;
    height: auto !important;
    padding: 0 !important;
}

.n-tab-links>* {
    margin: 0 !important;
}

.n-data {
    padding: 0 5px !important;
    height: auto !important;
}

.n-statistics {
    height: auto !important;
}

.n .n-btn {
    height: auto !important;
    line-height: 30px !important;
}

.n-tab-links {
    white-space: nowrap;
    overflow: auto;
}

.favInfo-details {
    max-width: 60%;
    margin-left: 5px !important;
}

.fav-options>* {
    margin: 0 !important;
}

.favList-info {
    padding: 0 !important;
    margin: 0 10px !important;
}

.n-cursor {
    bottom: 35px !important;
}

.navigator-fixed {
    display: none;
}

span.length {
    z-index: 1 !important;
}